<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="tests" thread-count="2">

<test name="test1">

<parameter name="Browser" value="chrome" />

<classes>

<class name="Crossbrowser.facebook"/>

</classes>

</test>

<test name="test2">

<parameter name="Browser" value="chrome" />

<classes>

<class name="Crossbrowser.google"/>

</classes>

</test>

</suite>
